{% extends "base.html" %}

{% block header_text %}Your To-Do list{% if list.id %} (id: {{ list.id }}){% endif %}{% endblock %}

{% block action %}{% url 'view_list' list.id %}/{% endblock action %}

{% block table %}
    <table id="id_list_table" class="table table-striped">
{%    for item in list.item_set.all %}
    {% cycle '<strong>'|safe '' as tag_st silent %}
    {% cycle '</strong>'|safe '' as tag_en silent %}
        <tr><td>{{ tag_st }}{{ forloop.counter }}. {{ item.text }}{{ tag_en }}</td></tr>

{% comment %} This should not be necessary, but just to ensure nothing goes wrong {% endcomment %}
{% empty %}
    <tr><td>Sorry, no entries found yet in this list.</td></tr>
{%    endfor %}
    </table>
{% endblock table %}
